html {
    font-size: 10px;
    background: url('./background.jpg') bottom center;
    background-size: cover;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("/JS30/DrumMachine/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .keys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 640px;
    height: 100vh;
    margin: 5vh auto;
    
  }
  
  .key {
    cursor: pointer;
    border: .5rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 2.5rem .5rem;
    transition:all .07s;
    width: calc(33% - 2rem);
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
    box-sizing: border-box;
    -webkit-transition:all .07s;
    -moz-transition:all .07s;
    -ms-transition:all .07s;
    -o-transition:all .07s;
}
  
  
  .playing {
    transform: scale(1.3);
    border-color: #a443d8;
    box-shadow: 0 0 1rem #bd7de0;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #c085e2;
    font-weight: bold;
  }

   /*scrollbar*/

::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #000000; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
    
}
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #bd7de0;
}